<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Survey Form</title>
      {% load static %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'django_app\css\main.css' %}">
      <!-- Put the static files in the static folder inside your app.  
           Django collects files within all static folders and puts them within a single folder -->    
    </head>
    <body>
        <!-- <p>Random Word By {{name}}</p> -->
        <div class = 'wrapper'>
            {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
          <form action = '/'>
            {% csrf_token %}
              <button class = 'gen'>Go Back</button>
          </form>
          <form action = '/delete'>
            {% csrf_token %}
            <button class = 'gen'>Reset</button>
          </form>
          <h3>Words</h3>
          {% for this_word_obj in request.session.word_list%}
          {% if this_word_obj.color == 'red'%}
            {% if this_word_obj.bold == True %}
              <div class = 'line'>
                <p style = "color:red;">{{this_word_obj.word}}</p> <p>-- {{this_word_obj.timestamp}}</p>
              </div>
            {% else %}
              <div class = 'line'>
                <h6 style = "color:red;">{{this_word_obj.word}}</h6> <p>-- {{this_word_obj.timestamp}}</p>
              </div>
            {% endif %}
          {% elif this_word_obj.color == 'blue'%}
            {% if this_word_obj.bold == True %}
              <div class = 'line'>
                <p style = "color:blue;">{{this_word_obj.word}}</p> <p>-- {{this_word_obj.timestamp}}</p>
              </div>
            {% else %}
              <div class = 'line'>
                <h6 style = "color:blue;">{{this_word_obj.word}}</h6> <p>-- {{this_word_obj.timestamp}}</p>
              </div>
            {% endif %}
          {% else %}
            {% if this_word_obj.bold == True %}
              <div class = 'line'>
                <p style = "color:green;">{{this_word_obj.word}}</p> <p>-- {{this_word_obj.timestamp}}</p>
              </div>
            {% else %}
              <div class = 'line'>
                <h6 style = "color:green;">{{this_word_obj.word}}</h6> <p>-- {{this_word_obj.timestamp}}</p>
              </div>
            {% endif %}
          {% endif %}
          {% endfor %}

          <!-- <p class = 'number_box'>
          </p> -->
          <!-- <form action="/generate" method="post">
            <input type="text" id="name" name="name">
            <select action = "" name = "location">
              <option value = "Mountain View">Mountain View</option>
              <option value = "Seattle">Seattle</option>
              <option value = "San Jose">San Jose</option>
            </select>
            <select>
                <option value = "JavaScript">JavaScript</option>
                <option value = "Python">Python</option>
                <option value = "C">C</option>
            </select>
            <input type = 'textarea' id = 'comment' name = 'comment'>

            <button class = 'gen'>Submit</button>
          </form> -->
        </div>
    </body>
  </html>